@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>SGIMI</h1>

        <img src="~/Images/home.jpg" width="600" height="250" />
        <img src="~/Images/logoBT.png" width="200" height="250" />
        <p class="lead">Systéme de Gestion des Interventions Maintenance Informatique de la Banque de Tunisie.</p>
    </div>

      

