@{
    ViewBag.Title = "Home Page";
}
<br />
<div class="jumbotron">

    <div id=" DateFilter" style="height:50px; width:100%;">
        <p>
            <center>
                <label> Date Debut   </label>
                html.<input type="date" name="datedebut" value="datedebut" />

                <label> Date Fin    </label>
                <input type="date" name="datedebut" value="datefin" />

            </center>
            <a href="@Url.Action("Index","ChartReclamation")"> filtrer </a>

            @*,new { datedebut = Model.datedebut }, new { datefin = Model.datefin }*@
        </p>
    </div>
    <div id="chartContainer" style="height: 340px; width: 100%;"></div>
    @*<div id="chartContainer2" style="height: 370px; width: 100%;"></div>
    <div id="chartContainer3" style="height: 370px; width: 100%;"></div>*@
</div>

@section scripts{
    <script type="text/javascript" src="~/Scripts/canvajs-2.3.2/canvasjs.min.js"></script>
    <script type="text/javascript">
		window.onload = function () {

@*var chart = new CanvasJS.Chart("chartContainer", {
	theme: "light1", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	title: {
		text: "Statistiques des reclamations"
	},
	subtitles: [{
		text: "Banque de tunisie, 2020"
	}],
	data: [{
		type: "bar",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>:{y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.ReclamationParService)
	}]
});
chart.render();*@

			var chart = new CanvasJS.Chart("chartContainer", {
				theme: "light1", // "light1", "light2", "dark1", "dark2"
				exportEnabled: true,
				animationEnabled: true,
				zoomEnabled: true,
				subtitles: [{
					text: "Nombre Reclamation Par Date"
				}],
				data: [{
					type: "line",
					startAngle: 180,
					toolTipContent: "<b>{label}</b> = {y}",
					showInLegend: "true",
                    legendText: "Nombre Reclamation Par Date",
					indexLabel: "",
					dataPoints: @Html.Raw(ViewBag.NombreReclamationParDate)
	            }]
			});
			chart.render();
@*var chart3 = new CanvasJS.Chart("chartContainer3", {
	theme: "light3", // "light1", "light2", "dark1", "dark2"
	exportEnabled: true,
	animationEnabled: true,
	subtitles: [{
		text: "Reclamation par unité gestion"
	}],
	data: [{
		type: "pie",
		startAngle: 180,
		toolTipContent: "<b>{label}</b>: {y}%",
		showInLegend: "true",
		legendText: "{label}",
		indexLabel: "{label} - {y}%",
		dataPoints: @Html.Raw(ViewBag.ReclamationParUniteGestion)
	}]
});
chart3.render();*@

		}
    </script>
}