@model BT.Stage.SGIMI.UserInterface.ViewModel.ReclamationViewModel
@{
    ViewBag.Title = "AnnulerReclamation";
}
<style>
    h1, h3 {
        color: white;
        text-align: center;
    }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h1>Confirmation de la demande d'annulation</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        <h3 style="text-align:center">
            Voulez vous annuler cette reclamation ?

        </h3>
        <br />
        <div class="form-group" style="margin-left:150px">
            <div class="col-md-offset-4 col-md-10">
                <input type="submit" value="Oui" class="btn btn-success" style="margin:10px" />
                <a class="btn btn-danger" href="@Url.Action("UserOnHold","Reclamation")"><i class="fa fa-plus-square"></i>Non</a>
            </div>
        </div>
    </div>
    <br />
}
